html {
    background: rgb(143, 94, 143);
    padding: 5% 15%;
}

body {
    background: rgb(177, 175, 175);
    padding: 5%;
}

input, textarea {
    border: 1px solid black;
}

/* #container {
    background: blue;
} */

#submit {
    background: rgb(143, 94, 143);
    color: white;
}